{% load bootstrap4 %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> 
    <title>Maps</title>
    <!-- css -->
    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> {% endblock %}
    <!--scripts  -->
    {% block scripts %}
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- pooper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/popper.min.js"></script> 
    {% bootstrap_javascript %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> 
    <script>
        var map;
        var lat = "{{latitude}}";
            latitude = parseFloat(lat)
            console.log(latitude)

            var lng = "{{longitude}}";
            longitude = parseFloat(lng);
            console.log(longitude)

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: latitude , lng: longitude },
            zoom: 15
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5iOQWIMe4tpZ1fcMgDbQXg8Ni6wRxk-s&callback=initMap"></script>
    
    {% comment %} <script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8"></script> {% endcomment %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>