
  {% extends 'base.html' %}
  {% block scripts %}
  <script>
    var map;
    var lat = "{{latitude}}";
    latz = parseFloat(lat)
    // console.log(latitude)

    var lng = "{{longitude}}";
    longitude = parseFloat(lng);
    // console.log(longitude)
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: latz,
            lng: longitude
          },
          zoom:17
        });
      }

  </script>
  {% endblock %}
  {% block content %}
    <div id="map"></div>
  {% endblock %}
