<!DOCTYPE html>
<html>

<head>
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgSsvdERhMAueytOvDsljb1UBm1QCuUPc&callback=initMap">
  </script>
  <script>
    // var spots = JSON.parse('{{spots_json|safe}}');
    // console.log(spresults.features[i]ots);
    // for (var i = 0; i < spots.length; i++) {
    //
    //   var lat = parseFloat(spots[i].fields.latitude)
    //   var lng = parseFloat(spots[i].fields.longitude)
    //   console.log('top',lat, lng);
    // }
    // var loc = spots[0].fields.name
    // console.log(spots);
    // console.log(loc);
    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: new google.maps.LatLng(-1.28333, 36.81667),
        mapTypeId: 'terrain'
      });

      var spots = JSON.parse('{{spots_json|safe}}');
      console.log(spots);

      for (var i = 0; i < spots.length; i++) {
        // console.log('hi');
        var lat = parseFloat(spots[i].fields.latitude)
        var lng = parseFloat(spots[i].fields.longitude)
        coords = [lat, lng]
        // console.log(coords);
        var latLng = new google.maps.LatLng(coords[0],coords[1]);
        var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        // console.log(lat, lng);
      }
    }

    // Loop through the results array and place a marker for each
    // set of coordinates.
      // for (var i = 0; i < spots.length; i++) {
      //   console.log('hi');
      //   console.log(parseFloat(spots[i].fields.latitude), parseFloat(spots[i].fields.longitude));
      //   var lati = parseFloat(spots[i].fields.latitude)
      //   var longi = parseFloat(spots[i].fields.longitude)
      //   // console.log(lati, longi);
      //   var latLng = new google.maps.LatLng(lati, longi)
      //   var marker = new google.maps.Marker({
      //     position: latLng,
      //     map: map
      //   });
      // }



  </script>
  <div id="map"></div>
</body>

</html>
